/***********************************************************/
//
// Fonts
//
/***********************************************************/


$small-font-size:     10px;
$footer-small-size:   11px;
$base-font-size:      12px;
$tagline-font-size:   16px;
$regular-font-size:   18px;
$paragraph-size:      14px;
$h2-size:             42px;

$year-header-sm-size: 120px;
$year-header-size:    180px;

//Large screen
$small-font-size-lg:     20px;
$base-font-size-lg:      24px;
$regular-font-size-lg:   36px;
$paragraph-size-lg:      28px;
$h2-size-lg:             84px;

$year-header-sm-size-lg: 240px;
$year-header-size-lg:    360px;


/***********************************************************/
//
// Colors
//
/***********************************************************/

$gold-color:        #AF9352;
$orange-color:      #FF5700;
$sec-orange:        #ff7a35;
$white-color:       #FFFFFF;
$cream-color:       #F4F0E6;
$dark-color:        #1B0D0B;
$dark-cream-color:  #EFE9DD;
$background-color:  #F3EFE6;
$dark-brown:        #564227;
$active-menu-color: #CFBE97;

/***********************************************************/
//
// Custom Grids
//
/***********************************************************/


$xs-devices:        400px;
$xs-viewport:       480px;
$gh-sm-viewport:    769px;
$desktop-viewport:  1100px;
$large-viewport:    1280px;
$big-screen:        2000px;
$extra-big-screen:  2500px;
