///////////////////////////////////////////////////////////////
//
//Colors
//
///////////////////////////////////////////////////////////////

$default-color: #2BBBAD;
$default-color-dark: #00695c;
$primary-color: #4285F4;
$primary-color-dark: #0d47a1;
$secondary-color: #aa66cc;
$secondary-color-dark: #9933CC;
$white-color: #ffffff;
$grey-color: #eeeeee;
$brand-color: #6e00ff;

$opacity-grey: rgba(238,238,238,0.5);
$box-shadow-color:rgba(50, 50, 50, 0.5);

///////////////////////////////////////////////////////////////
//
//Fonts
//
///////////////////////////////////////////////////////////////
$regular-font: "Opensans-Regular" Helvetica, arial, sans-serif;
$bold-font: "Opensans-Bold" Helvetica, arial, sans-serif;
$light-font: "Opensans-Light" Helvetica, arial, sans-serif;


///////////////////////////////////////////////////////////////
//
//Grid
//
///////////////////////////////////////////////////////////////
$screen-xs: 480px;
$screen-sm: 768px;


///////////////////////////////////////////////////////////////
//
//Buttons
//
///////////////////////////////////////////////////////////////

.btn-my{
  border-radius: 0;
}
.btn-my-default{
  background-color: $default-color;
  color:$white-color;
  &:hover, .active{
    background-color: $default-color-dark;
    color:$white-color;
  }
}
.btn-my-primary{
  background-color:$primary-color;
  color: $white-color;
  &:hover{
    background-color: $primary-color-dark;
    color:$white-color;
  }
}
.btn-transparent{
  border:none;
  background-color: transparent;
  outline: none;
  padding: 5px 10px;
  font-size: 20px;
  &:hover{
    color:$white-color;
  }
  &:focus, :active{
    outline:none;
  }
}



///////////////////////////////////////////////////////////////
//
//Constants
//
///////////////////////////////////////////////////////////////

.no-side{
  padding:0;
}
.need-top-sm{
  margin-top:10px;
}
.my-input{
  border-radius: 0;
}


@media screen and (max-width: $screen-sm){
  .no-xs-side{
    padding:0;
  }
}